.nav4{
    float: right;
}
.nav2 {
    margin-left: 500px;
}
.alert1{
margin-left: 15%; margin-right: 15%;
    display: inline-block;
}
.img1{
    height: 400px;width: 200px;
}
.img2{
    height: 600px; width: 300px;
}
.ol1{
    font-size: 30px;
    }
    .ul1{
        font-size: 20px;
    }
.row2, .row3{
    background-color: #f5f5f5;
    padding-bottom: 50px;
    }
    .row2{
        padding-top: 50px;
    }
.btn1, .btn2{
    margin-left: 200px;
    width: 200px;
}
.pos{
    margin-left: 300px;
}
.kid{
margin-left: 450px;
}
.row5,.row4{
    padding-top: 50px;
    padding-bottom: 50px;
}
.k1,.k2,.k3,.k4{
    text-align: center;
}
.d1,.d2,.d3,.d4{
    text-align: center;
}
.container1{
    background-color: #f5f5f5;
}
.gt{
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
}
.row7{
    background-color: rgb(70, 115, 121);
    padding-top: 50px;
    padding-bottom: 50px;
}